.container {
  background: var(--white);
  color: #131313;
  padding: 1rem 6rem;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 2.5rem;

  .navigation {
    span {
      margin: auto 0.5rem;
      font-size: 0.95rem;
    }

    a {
      font-size: 0.95rem;
      margin: auto 0.5rem;
      cursor: pointer;
      transition: filter 0.2s;
      text-decoration: none;
      color: var(--primary-800);

      &:hover {
        filter: brightness(0.8);
      }
    }
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 4rem;
    gap: 1.5rem;
  }
}
