.Container {
  .imgContainer {
    position: relative;
    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }

    .iconCard {
      position: absolute;
      display: flex;
      bottom: 12px;
      left: 12px;
      gap: 0.5rem;

      div {
        background: var(--white);
        color: var(--secondary-800);
        border-radius: 50%;
        text-align: center;
        align-items: center;
        font-size: 1.6rem;
        padding: 0.15rem;
      }
    }

    img {
      width: 100%;
      border-radius: 1.5rem;
      height: 8.5rem;
      object-fit: cover;
    }
  }

  .cardHeader {
    display: flex;
    margin: 1rem 0.3rem;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }

  .cardBody {
    margin: auto 0.3rem;

    .price {
      display: flex;
      border-bottom: 2px solid var(--gray-100);
      margin-bottom: 0.5rem;
      font-size: 1.1rem;
      justify-content: space-between;
      align-items: center;
    }

    .totalPrice {
      display: flex;
      margin-top: 1rem;
      font-size: 1.1rem;

      span {
        font-weight: 900;
      }

      div {
        margin-left: auto;
        display: flex;

        span {
          font-weight: 500;
          margin-left: 0.2rem;
        }

        div {
          color: var(--success);
          display: flex;
          flex-direction: column;

          span {
            font-weight: 900;
          }

          p {
            margin-left: 0.2rem;
          }
        }
      }
    }
  }
}
