.container {
  background: var(--primary-500);
  color: var(--gray-50);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;

  .logo {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    height: 2rem;
    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }

    span {
      font-size: 1.5rem;
      color: var(--secondary-500);
    }
  }

  nav {
    display: flex;
    float: right;
    gap: 10px;

    a {
      border: none;
      padding: 1rem 2rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      color: var(--gray-50);
      transition: all 0.8s;
      transition: filter 0.2;
      gap: 10px;

      & + a {
        border-left: 2px solid #fff;
      }

      &:hover {
        filter: brightness(0.8);
        color: var(--secondary-500);
      }
    }

    .userOptions {
      color: var(--gray-500);
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      text-align: center;
      align-items: center;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.8);
      }

      &:first-child {
        background: var(--white);
        border: 1px solid var(--white);
        border-radius: 50%;
        padding: 0.5rem 0.5rem;
        float: left;
      }

      &:last-child {
        padding: 0.25rem;
        float: right;
      }
    }
  }
}
