.footer {
  background: var(--primary-500);
  color: var(--gray-50);
  width: 100%;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1rem;
  }

  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;

    .logo {
      border-bottom: 1px solid white;
      cursor: pointer;
      transition: filter 0.2s;
      font-size: 3rem;

      &:hover {
        filter: brightness(0.8);
      }

      span {
        font-size: 3.5rem;
        color: var(--secondary-500);
      }
    }
  }

  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;

    a {
      border: 1px solid var(--secondary-800);
      color: var(--secondary-500);
      border-radius: 50%;
      padding: 0.7rem;
      font-size: 1.5rem;
      transition: filter 0.2s;
      cursor: pointer;

      &:hover {
        filter: brightness(0.8);
      }

      &:last-child {
        margin-right: 1.5rem;
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;

    span {
      margin: auto 0.5rem;
    }
  }
}
