.homepage {
  color: #272727;

  .sectionContainer {
    background: var(--white);
    height: 6.5rem;
    display: flex;
    align-items: center;
    padding: 1rem 6rem;
    color: var(--gray-800);

    .titleSection {
      h2 {
        margin-bottom: 0.5rem;
        font-size: 1.8rem;
      }

      span {
        padding-left: 0.2rem;
      }
    }

    .filterButton {
      margin-left: auto;
      text-transform: capitalize;

      button {
        border-radius: 0.7rem;
        padding: 0.7rem 1rem;
        cursor: pointer;
        background-color: var(--white);
        border: 2px solid var(--gray-100);
      }
    }
  }

  .cardContainer {
    padding: 1rem 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2.25rem;
    grid-row-gap: 2.25rem;

    .propertyCard {
      .imgContainer {
        position: relative;

        .iconCard {
          position: absolute;
          display: flex;
          bottom: 12px;
          left: 12px;

          div {
            background: var(--white);
            color: var(--secondary-800);
            border-radius: 50%;
            text-align: center;
            align-items: center;
            font-size: 1.6rem;
            padding: 0.15rem;

            &:last-child {
              margin-left: 0.5rem;
            }
          }
        }

        img {
          width: 100%;
          border-radius: 1.5rem;
          height: 8.5rem;
          object-fit: cover;
          cursor: pointer;
        }
      }

      .cardHeader {
        display: flex;
        margin: 1rem 0.3rem;

        div {
          display: flex;
          flex-direction: column;

          h2 {
            font-size: 1.6rem;
            margin-bottom: 1rem;
          }
        }

        span {
          margin-left: auto;
          text-transform: capitalize;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;
          cursor: pointer;
        }
      }

      .cardBody {
        margin: 0 0.3rem;

        .price {
          display: flex;
          border-bottom: 2px solid var(--gray-100);
          margin-bottom: 0.5rem;
          font-size: 1.1rem;

          span {
            &:last-child {
              margin-left: auto;
              text-transform: capitalize;
            }
          }
        }

        .totalPrice {
          display: flex;
          margin-top: 1rem;
          font-size: 1.1rem;

          span {
            font-weight: 900;
          }

          div {
            margin-left: auto;
            text-transform: capitalize;
            display: flex;

            span {
              font-weight: 500;
              margin-left: 0.2rem;
            }

            div {
              color: var(--success);
              display: flex;
              flex-direction: column;

              span {
                font-weight: 900;
              }

              p {
                text-transform: lowercase;
                margin-left: 0.2rem;
              }
            }
          }
        }
      }
    }
  }
}
