.titleHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;

  h2 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }
}

.titleBody {
  font-weight: 600;
  display: flex;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--gray-100);

  .status {
    margin-left: auto;
    color: var(--success);

    span {
      margin-left: 0.5rem;
    }
  }
}
